# .gitignore

# Ignore the virtual environment directory
envforrender/

# Ignore all .pyc files
*.pyc

# Ignore all .pyo files
*.pyo

# Ignore all .pyd files
*.pyd

# Ignore all __pycache__ directories
__pycache__/

# Ignore all .DS_Store files
.DS_Store
