altair
altgraph
ansi2html
arrow
asttokens
attrs
backcall
binaryornot
blinker
boltons
Bottleneck
brotlipy
cachetools
certifi
cffi
chardet
charset-normalizer
click
colorama
comm
conda
conda-content-trust
conda-package-handling
conda_package_streaming
contourpy
cookiecutter
cryptography
cycler
dash == 2.14.1
dash-core-components
dash-html-components
dash-table
debugpy
decorator
distro
et-xmlfile
exceptiongroup
executing
Flask
fonttools
gitdb
GitPython
gunicorn
idna
importlib-metadata
install
ipykernel
ipython
itsdangerous
jedi
Jinja2
joblib
jsonpatch
jsonpointer
jsonschema
jsonschema-specifications
jupyter_client
jupyter_core
kiwisolver
lxml
markdown-it-py
MarkupSafe
matplotlib
matplotlib-inline
mdurl
menuinst
mkl-fft
mkl-random
mkl-service
nest-asyncio
numexpr
numpy
openpyxl
packaging
pandas
parso
patsy
pefile
pickleshare
Pillow
platformdirs
plotly
pluggy
prompt-toolkit
protobuf
psutil
pure-eval
pyarrow
pycosat
pycparser
pydeck
Pygments
pyinstaller
pyinstaller-hooks-contrib
pyOpenSSL
pyparsing
PySocks
python-dateutil
python-docx
python-slugify
pytz
pywin32
pywin32-ctypes
PyYAML
pyzmq
referencing
requests
retrying
rich
rpds-py
ruamel.yaml
ruamel.yaml.clib
scikit-learn
scipy
six
smmap
stack-data
statsmodels
streamlit
tabula-py
tenacity
text-unidecode
threadpoolctl
toml
toolz
tornado
tqdm
traitlets
typing_extensions
tzdata
tzlocal
urllib3
validators
watchdog
wcwidth
Werkzeug
win-inet-pton
XlsxWriter
zipp
zstandard
